*bed
*90*tsv
*scratch*py*
talon/*tsv
*enrichr*txt
*swan/swan_metadata.tsv
*correlation.tsv
*tpm*tsv
*top_10_genes.tsv
*pass*list*csv
*processing/*
*config*csv
*_x*tsv
*_obs*tsv
*.log
*gtf
*DS_Store*
*ipynb_check*
.ipynb_checkpoints
*annot*tsv
*abundance*tsv
*h5ad
*.p
*.db
*.fa
*.fasta
*.bam
*.sam
*.fq
*.fastq
*pycache*
*.log
hippocampus/ont_splitseq/processing/*
